@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* margin: 0 auto; */
  /* text-align: center; */
  --transition: all 500ms ease;
}

@layer components {
  /* .h0 {
    @apply font-sans text-3xl font-bold md:text-5xl;
  } */
  
  h1,
  .cstmh1 {
    @apply font-sans text-3xl font-bold md:text-5xl;
    
  }
  
  h2,
  .cstmh2 {
    @apply font-sans text-2xl font-bold md:text-4xl;
    
  }
  
  h3,
  .cstmh3 {
    @apply font-sans text-xl font-bold md:text-3xl;
    
  }
  
  h4,
  .cstmh4 {
    @apply font-sans text-lg font-bold md:text-2xl;
  }
  
  body,
  .cstmp1 {
    @apply font-sans text-base md:text-lg;
  }
  body,
  .cstmp2 {
    @apply font-sans text-sm md:text-base;
  }
}

/* .Hero {
  background-image: url("/public/HeroBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
} */

/* below or equal to 600px */
/* @media only screen and (max-width: 600px) {
  .Hero {
    background-image: url('bgsmallscreen.png');
  }
} */
/* above or equal to 600px */
/* @media only screen and (min-width: 601px) {
  .Hero {
    background-image: url('bgbigscreen.png');
  }
} */

  /* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Explora&display=swap'); */



/* .fontLato {
  font-family: 'Lato', sans-serif;
} */

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* GENERAL CONTAINER CLASS */
