@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* margin: 0 auto; */
  /* text-align: center; */
  --transition: all 500ms ease;
}

@layer components {
  /* .h0 {
    @apply font-sans text-3xl font-bold md:text-5xl;
  } */

  h1 {
    @apply font-sans text-3xl font-bold md:text-5xl;
  }

  h2 {
    @apply font-sans text-2xl font-bold md:text-4xl;
  }

  h3 {
    @apply font-sans text-xl font-bold md:text-3xl;
  }

  h4 {
    @apply font-sans text-lg font-bold md:text-2xl;
  }
  h5 {
    @apply font-sans text-base font-bold md:text-lg;
  }
  h6 {
    @apply font-sans text-sm md:text-base;
  }


  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
  .btn-secondary {
    @apply py-2 px-4 bg-gray-500 hover:border-red-500 rounded-lg shadow-md;
  }
  /* }
  .btn-secondary {
    @apply border-4 border-gray-500 hover:border-blue-500 hover:bg-blue-400 hover:text-blue-50 rounded py-3 px-4 transition duration-1000;
  } */
  .btn {
    @apply border-4 bg-cyan-500 border-gray-500 rounded py-3 px-4 transition duration-500 transform
    hover:bg-cyan-600;
  }
  .navSpan {
    @apply w-8 h-1 mb-1 block relative origin-top-left duration-1000;
  }
  /* .btn {
    @apply border-4 border-red-400 rounded py-3 px-4 transition duration-500 transform
    hover:-translate-y-1 hover:scale-110 scale-100;
  } */

  /* navbar */
  .navComponent a {
    @apply border-b-4 border-[#a9a9a9];
  }

  .formClass label {
    @apply font-helvetica text-gray-700;
  }
  .formClass input {
    @apply font-georgia font-bold text-black;
  }

}

